.lineGroup path,
.lineGroup line {
    fill: none;
    stroke-width: 2;
  }

.axisGroup .xAxis path,
.axisGroup .yAxis path,
.axisGroup line {
  stroke: lightgrey;
  stroke-width: 2;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 100px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border-color: lightgrey;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    pointer-events: none;
  }

div.tooltip div.tooltip_entry {
  display: flex;
  justify-content: space-around;
}


div.tooltip div.tooltip_entry p.tooltip_entry__title{
}

div.tooltip div.tooltip_entry p.tooltip_entry__amount {
}

div.tooltip div.tooltip_entry div.tooltip_entry__legend_key {
  width: 10px;
  height: 10px;
  border: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-style: solid;
  border-color: black;
}

.datasets {
  display: flex;
  justify-content: space-between;
}